
<head>
    <link rel="stylesheet" href="/css/sign.css">
     <title>SIGN IN</title>
</head>
<body>
    <main id="main">
        <div class="sign-in">
            <form action="/sign/sign_in" method="post">
                <div class="f-g">
                    <label for="Username">Username</label>
                    <input type="text" name="Username">
                </div>
                <div class="f-g">
                    <label for="password">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="b-f">
                    <a href="/">Back</a>
                    <button>Submit</button>
                </div>
            </form>
        </div>
        <section class="right-section">
            <div class="ctn">
                <h1>Sign In</h1>
                <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum temporibus cupiditate necessitatibus assumenda minima architecto magni esse iure saepe quis exercitationem odio totam itaque, recusandae laborum blanditiis asperiores distinctio. Voluptatibus.</span>
            </div>
            
        </section>
    </main>
</body>