<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/board.css">
</head>
<body>
    <header id="header">
        
    </header>
    <main id="main">
        <!-- //Nav Sticky
        <bavbar id="narbar">

        </bavbar> -->
         
        <div class="container">
            <div class="ads">THIS IS ADS SPACE</div>
            <div class="intro">

            </div>
            <div class="card-c">

            </div>
        </div>
    </main>
</body>
</html>